@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

:root {
	--color-primary: #fff200;
	--color-body: #ffffff;
    --color-gris-light: #929292;
	--font-primary: 'Poppins', sans-serif;
	--font-family-secondary: 'Montserrat', serif;
}

@theme {
	--color-primary: #fff200;
	--color-body: #ffffff;
	--font-family-primary: 'Poppins', sans-serif;
    --font-family-secondary: 'Montserrat', serif;
}

/* View Transitions - Fade animation */
::view-transition-old(root) {
	opacity: 1;
}

::view-transition-new(root) {
	opacity: 0;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation: fade 0.2s ease;
	animation-fill-mode: both;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

