---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import LogosCarrousel from '../components/LogosCarrousel.astro';
import SectionImage from '../components/SectionImage.astro';
import Banner from '../components/Banner.astro';
---

<Layout>

	<Header />

	<main class="bg-body">
		<div id="hero">
			<Hero />
		</div>
		
	</main>

	<LogosCarrousel />

	<SectionImage imagePosition="left">
		<h2 class="text-3xl md:text-4xl font-bold leading-tight mb-4 text-center md:text-left">
			Compara y baja tu factura de la luz <span class="font-normal">sin llamadas</span>
		</h2>
		<p class="text-lg text-gray-700 max-w-lg text-center md:text-left font-family-secondary font-light">
			Arrastra tu factura y comprueba si estás pagando lo justo de forma totalmente gratuita.
		</p>
	</SectionImage>

	<Banner />

	<footer class="bg-body">
		<div class="max-w-7xl mx-auto">
			<p class="text-center text-sm text-gray-500">
				&copy; {new Date().getFullYear()} Bajatufactura. Todos los derechos reservados.
			</p>
		</div>
	</footer>

</Layout>
